* {
    box-sizing: border-box;
}

.container {
    background-color: bisque;
    width: 100%;
    height: auto;
    font-size: 25px;
}

.color {
    display: block;
    color: green;
    border: 3px solid blueviolet;
    border-radius: 10px dotted red;
    text-align: center;
}